<div>
    <h3 class="center-align condensed light">BEM VINDO AO MEU BLOG </h3>
</div>
<div class="container ">
    <img class="responsive-img" src="https://blog.beautheme.com/wp-content/uploads/2015/12/IoT-Graphic-1310x599.png">
    <div class="col s12 center-align">
        <%= link_to 'READ MY BLOG', welcome_show_path, :class => "btn-large waves-effect  pink darken-4 bold" %>
    </div>
</div>
