<div>
    <h3 class="center-align condensed light">BEM VINDO AO MEU BLOG </h3>
</div>

<div class="container ">
    <img class="responsive-img" src="https://blog.beautheme.com/wp-content/uploads/2015/12/IoT-Graphic-1310x599.png">
    <div class="col s12 center-align">
    <button class="open-blog btn-large waves-effect pink darken-4 bold">READ MY BLOG</button>
    </div>
</div>

<!-- biblioteca jquery CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<!--Cartão-->
<div class="container">
    <div id="cards" class="col s12">

    </div>
</div>

<script src="/assets/welcome.js">
</script>
