<!-- biblioteca jquery CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<div class="container">
    <div id="cards" class="col s12">
        <!-- <div id = "card" class="card pink lighten-2 center-align condensed light card-content white-text">
            <span class="card-title">POSTS</span> -->
            <!-- <div id="posts"> -->
                <!-- <div>
                    <p> Title: posdkaopdk
                    </p>
                    <p> Text: aopsdkaposdkaopdk
                    </p>
                </div> -->
            <!-- </div>
        </div> -->
    </div>
</div>


<script src="/assets/welcome.js">
</script>
