<html>
    <div>
        <p>
            <center>Crie suas postagens </center>

            <%= link_to 'CRIE UMA NOVA POSTAGEM', new_post_path %><td>
            <%= link_to 'ÚLTIMAS POSTAGENS', posts_path %></td>

        </p>
    </div>
</html>